html {
  scroll-behavior: smooth;
}

body {
  padding-top: 55px;
  
}

a:hover {
  cursor: pointer;
}

.logo {
  width: 150px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 10px;
}

.logo:hover {
  cursor: pointer;
}

#dark-mode-toggle {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

#map {
  height: 500px;
  width: 100%;
}